.current-container, .past-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 7px double black;
    border-bottom: 7px double black;
    padding: 10px;
}


.bets-container {
    width: 100%;
    display: flex;

}

