
.searched-user-container {
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 25px 25px 0;

}

.info-container {
    display: flex;
}


.search-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.searched-user {
    width: 95%;
    background-color: rgb(251, 251, 253);
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -3px 5px 10px .5px rgb(53, 53, 53);
}

.searched-user > button {
    margin: 15px;
    background-color: white;
}

h3 {
    font-size: 30px;
}

.search-info {
    margin-top: 20px
}

.search-card-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
}
