.bet-card-container {
    margin: 10px;
    width: 90%;
    background-color: rgb(228, 230, 255);
    border-radius: 5px;
    /* box-shadow: -5px 6px 10px .3px rgb(51, 51, 51); */
    padding: 10px;
    border: 1px solid blue;
}

.bet-title {
    font-size: 25px;
    color: black;
    font-style: italic;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
}

.bet-column {
    display: flex;
    justify-content: space-between;
}

.bet-column1, .bet-column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bet-amount {
    font-size: 50px;
    margin-top: -20px;
}

.remove-button {
    width: 150px;
    margin-top: 15px;
}
