.nav-container {
    background-color: rgba(68, 197, 29, 0.39);
    height: 100vh;
    width: 200px;
}

.menu-container, .logout-button {

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none; 
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}