.nav-container {
    background-color: rgb(13, 13, 48);
    height: 100vh;
    width: 250px;
}

.menu-container, .logout-button {
    display: flex;
    flex-direction: column;
    text-shadow: -2px 1px 2px rgb(46, 46, 46);

}

#item {
    color: white;
}

.menu-container > input {
    width: 80%;
    text-align: center;
    margin: 20px;
}

#mobile-menu-container > a {
    padding: 10px;
}

a {
    padding: 25px;
    color: white;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}


.logout-button > h4 {
    color: rgb(116, 116, 116);
    padding-left: 25px;
    text-shadow: none;
    font-size: 16px;
}

.logout-button:hover {
    cursor: pointer;
}

.circular-image img{
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}


#username {
    margin: 5px;
}

#user-id {
    font-size: 13px;
}

h2 {
    font-size: 35px;
}


.update-pic {
    color: rgb(0, 0, 197);
    margin-top: 0px;
    padding: 0;
    font-size: 13px;
    text-shadow: none;
}

.noti {
    color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 20px;
    text-shadow: none;
}

.drop-down {
    width: 300px;
    height: 550px;
    background-color: rgb(13, 13, 48);
    position: fixed;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid white;
}


#menu-button {
    margin: 5px 2px 5px 5px;
    padding: 1px;
    width: 50px;
}

.mobile-container {
    background-color: rgb(46, 46, 46);
}

